.link-text {
  @apply transition duration-300 ease-in-out hover:opacity-60;
}

.blog-h1 {
  @apply text-3xl font-extrabold leading-9 tracking-tight text-gray-800 sm:text-4xl sm:leading-10 md:text-5xl;
}

.blog-h2 {
  @apply text-3xl font-bold leading-9 text-gray-800 sm:text-3xl sm:leading-10; 
}

.blog-input {
  @apply w-full px-4 py-2 border-2 rounded-md focus:border-transparent focus:outline-none focus:ring-2 focus:ring-primary-500; 
}

figure:not([class]), p:not([class]), ul:not([class]), ol:not([class]) {
  @apply mb-5;
}

li:not([class]) { 
  @apply ml-8;
}

li:not([class]) { 
  @apply list-disc;
}
